.profile {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

@media (max-width: 917px) {

  .profile {
    column-gap: 20px;
  }

}

@media (max-width: 618px) {

  .profile {
    flex-direction: column;
    row-gap: 32px;
  }

}