.place__like-btn {
  padding: 0;
  width: 22px;
  height: 19px;
  background: no-repeat center url('../../../images/icons/heart-stroke.svg');
  border: none;
  flex-shrink: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.place__like-btn:hover {
  opacity: .5;
}