.profile__main {
  display: flex;
  column-gap: 30px;
}

@media (max-width: 917px) {

  .profile__main {
    column-gap: 20px;
  }

}

@media (max-width: 618px) {

  .profile__main {
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
  }

}