.page {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
}